<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Cerâmica Bom Jardim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/sobrenos">Sobre Nós</a>
      <a class="nav-link" href="/produtos">Produtos</a>
      <a class="nav-link" href="/localizacao">Localização</a>
      <a class="nav-link" href="/contato">Contato</a>
      <a class="nav-link" href="/admin">Admin</a>
    </div>
  </div>
</nav>