<h3>Sobre nós</h3>
<div class="card">
  <div class="card-body">
    <form action="/sobrenos/add" method="POST">
      <label for="sobre">Titulo:</label>
      <input type="textarea" id="titulo" name="titulo" class="form-control">
      <label for="sobre">Texto:</label>
      <input type="textarea" id="sobre" name="sobre" class="form-control">
      <br>
      <button type="submit" class="btn btn-success">Concluir</button>
    </form>

  </div>
</div>